.btn {
  background-color: $color-button-bg;
  border: none;
  color: $color-button;
  cursor: pointer;
  padding: $input-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin-bottom: $space;
  line-height: 1.2;

  &--link {
    display: inline-block;
    text-decoration: none;
  }

  &--pill {
    background: transparent;
    border: 1px solid $darkpurple;
    color: $darkpurple;
    padding: 0.3rem 0.8rem;
  }
  &--secondary {
    background: $color-btn-secondary-bg;
    border: 1px solid $grey;
    color: $color-btn-secondary;
  }
}
